SeeScoreIOS.xcodeproj/project.xcworkspace
SeeScoreIOS/seescore-cpp-api
SeeScoreIOS-debug.xcodeproj/project.xcworkspace
SeeScoreIOS-debug.xcodeproj/xcuserdata
build
Products
SeeScoreLib_ios/SeeScoreLib_ios.xcodeproj/project.xcworkspace
SeeScoreLib_ios/SeeScoreLib_ios.xcodeproj/xcuserdata
SeeScoreLib_ios.framework
SeeScoreLib.framework
SSSampleViewController + midiplay-nonfunctional.m.zip
SeeScoreIOS-debug.xcodeproj
